
.nav-container{
    display: flex;
    align-items: center;
    
  }
  
  .request-demo-btn{
    height: 39px;
    text-align: center;
    color:white;
    border-radius: 25px;
    width:150px;
    padding: 3px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.808);
  }
  .request-demo-btn:hover{
    border: 3px solid white;
  }
  
  .careers-nav-link{
    margin-right: 20px;
  }
  
  .logo {
    width:200px;
    height:40px;  
  }
 