
.form-container.main-form-demo{
    display: flex;
    align-items: flex-end;
  }
 
  .main-form-demo  {
    background-image: url('../images/background.png');
  }
  .submit-form {
    text-align: center;
  }
  @media screen and (max-width:562px){
    .form-container{
      width:80%;
      margin:0 auto;
    }
  }
  h3 {
    text-align: center;
  }
  .messgae-container {
    height: 75px;
  }
  .form-request-demo-btn{
    font-weight:500 ;
    font-size: 20px;
    border-radius: 15px;
    width: 100%;
  }
	
  div.form-outline input:focus + label.form-label,  input.form-control.filled-input + label.form-label {
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
}

div.form-outline label.form-label {
    position: absolute;
    top: 2px;
    left: 10px;
    
}

div.form-outline{
    position: relative;
}

.form-control:focus{
  
    box-shadow: 0 0 0 0.11rem rgb(101, 101, 248);
    
}
input.form-control{
    border-color: lightslategray;
    background: white;
}