* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.service-img {
  width: 10px;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: space-between;
}
.services-container::after {
  content: '';
  flex: auto;
}
.services-container li {
  list-style-type: none;
  width: 33%;
}
@media all and (max-width: 800px) {
  .services-container li {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    width: 45%;
  }
}
@media all and (max-width: 500px) {
  .services-container li {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    width: 100%;
  }
}
.service-card {
  margin: 20px;
  height: 300px;
  padding: 13px;
  box-shadow: 2px 2px 8px #888888;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}
.service-img {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.know-more-btn {
  border-radius: 6px;
  border: 1px solid black;
  color: black;
  font-size: 14px;
  padding: 4px;
  width: 100px;
}
.know-more-btn:hover {
  background-color: chocolate;
}
